body {
    text-align: center;
    font-family: andale mono, monospace;
    font-size: medium;
}

.header {
    font-family: andale mono, monospace;
    text-align: center;
}

.quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.options {
    text-align: center;
}

